@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: FT88-Italic;
    src: url('../fonts/Degheest/FT88/FT88-Italic.woff'),
         url('../fonts/Degheest/FT88/FT88-Italic.woff2'),
         url('../fonts/Degheest/FT88/FT88-Italic.otf'),
         url('../fonts/yourfontname/yourfontname-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: Latitude;
  src: url('../fonts/Degheest/Latitude/Latitude-Regular.otf'),
       url('../fonts/Degheest/Latitude/Latitude-Regular.woff'),
       url('../fonts/Degheest/Latitude/Latitude-Regular.woff2') format('embedded-opentype'),
       url('../fonts/yourfontname/yourfontname-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Basteleur;
  src: url('../fonts/Basteleur/Basteleur-Moonlight.ttf'),
       url('../fonts/Basteleur/Basteleur-Moonlight.woff') format('embedded-opentype'),
       url('../fonts/Basteleur/Basteleur-Moonlight.woff2') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Azeret;
  src: url('../fonts/Azeret/AzeretMono-Regular.ttf'),
       url('../fonts/Azeret/AzeretMono-Regular.woff') format('embedded-opentype'),
       url('../fonts/Azeret/AzeretMono-Regular.woff2') format('truetype');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: Azeret-Italic;
  src: url('../fonts/Azeret/AzeretMono-Italic.ttf'),
       url('../fonts/Azeret/AzeretMono-Italic.woff') format('embedded-opentype'),
       url('../fonts/Azeret/AzeretMono-Italic.woff2') format('truetype');
  font-weight: normal;
  font-display: block;
}

/* VARIABLES */

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam/BeVietnamPro-Variable.ttf'),
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam/BeVietnamPro-VariableItalic.ttf'),
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Variable.ttf'),
}

@font-face {
  font-family: RedHat_Italic;
  src: url('../fonts/RedHat/Variable/RedHatDisplay-VariableItalic.ttf'),
}

@font-face {
font-family: RedHat_REG;
src: url('../fonts/RedHat/Variable/RedHatDisplay-Variable.ttf'),
}

:root {
  /* Color settings */
    background-image: linear-gradient(180deg, rgba(255,0,0,0), rgb(219, 219, 219), rgb(209, 209, 209), rgb(185, 185, 185), rgb(179, 179, 179), rgb(150, 155, 175), rgb(152, 180, 233), rgb(166, 182, 255), rgb(140, 161, 255), rgb(98, 95, 255), rgb(67, 111, 255), rgb(31, 83, 255) );
  --color-text:rgba(0, 0, 0, 0.8);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font settings */
  --font-family: 'FT88', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margins settings */
  --margin: 1rem;
  z-index: 1;
  padding-left: 0.5em;
}

* { 
  cursor: crosshair;
  cursor: none;
}


/* GENERAL STYLES */


html, body {
  scroll-behavior: smooth;
}
html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  scrollbar-width: none;
  scroll-padding-top: 100px;
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y: scroll;
  bottom: 120px;
  margin-top: 100px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: none;
}

/* #background_image1{
  background-image: url('../images/head_images/BACKGROUND_1.jpg');
  width: 100vw;
  height: auto;
  position: absolute;
  z-index: 999;
  margin: 0;
} */

.big{
  position:fixed;
  top: 0; left: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(165, 255, 113, 0.972);
  border-radius: 50%;
  filter: blur(8px) !important;
  pointer-events: none;
  z-index: 2000 !important;
}

#scroll {
  position: fixed;
  top: 0;
  height: 100vh;
  height: 100dvh;
  background-image: linear-gradient(180deg, rgba(255,0,0,0), rgba(165, 255, 113, 0.895) );
  width: 10px;
  transition: width 0.1s ease;
  margin-left: -30px;
  filter: blur(15px);
  pointer-events: none;
  z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}

.progress-container {
	position: fixed;
	left: 10px;
	width: 2px;
	height: 100%;
	background-image: linear-gradient(180deg, rgb(255, 255, 255),rgb(108, 108, 108));
	margin: auto;
  border-radius: 3px;
}

.progress-bar {
	width: 2px;
	background:rgba(165, 255, 113, 0.972);
	border-radius: 3px;
}

.progress-bar:before {
	height: 0%;
}

.glow {
	-webkit-box-shadow: 0px 10px 10px 5px rgba(165, 255, 113, 0.972);
	-moz-box-shadow: 0px 10px 10px 5px rgba(165, 255, 113, 0.972);
	box-shadow: 0px 10px 10px 5px rgba(165, 255, 113, 0.972);
}

.wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

hr { 
  opacity: 0; 
}
a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

h1{
  /* h1 style */
 font-family: Basteleur;
 font-size: 130px;
 font-style: italic;
 line-height: 0.6;
 white-space: nowrap;
 font-size: calc(7.5vw);
 color:rgb(108, 108, 108);
 
}

h2{ 
  /* h2 style */
  font-family: Basteleur;
  font-size: 35px;
  /* padding-left: 45%; */
  padding-top: 10%;
  color:rgb(31, 83, 255);
  font-size: calc(2.5vw);
  text-decoration-line: underline;
}

.collapsible {
  background-color: rgba(85, 85, 85, 0);
  color: rgba(85, 85, 85, 0);
  cursor: pointer;  
  padding-top: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  height: 200px;
}

.active, .collapsible:hover {
  background-color: rgba(85, 85, 85, 0);
}

.content {
  padding: 0;
  background-color:rgba(85, 85, 85, 0);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
} 

h3{
  /* h3 style */
  font-family: Basteleur;
  font-size: 35px;
  padding-left: 45%;
  color:rgb(31, 83, 255);
  font-size: calc(2vw);
  line-height: 1.5;
  text-decoration-line: underline;
}

.group {
  position: relative;
}
.group h4{
  /* h4-h5-h6 style */
  position: sticky;
  top: 80vh;
  transform: translateY(-50%);
  padding: 10em 0;
  /* text-decoration: underline; */
  /* font-style: italic; */
  font-family: Azeret;
  padding-left: 0.4em;
  color:rgb(108, 108, 108);
  font-size: 16px;
  font-size: calc(1vw);
}

p{
  /* paragraph style */
  font-family: Latitude;
  font-size: 25px;
  padding-left: 48%;
  line-height: 1.4;
  font-size: clamp(16px, 1.25vw, 32px);
}


main h2, main h3 {
  padding-left: 7%;
}

main p {
  font-family: Azeret !important;
  /* font-size: 16px !important; */
  width: 38vw;
  padding-left: 10%;
  line-height: 1.6;
  font-size: calc(0.8vw);
}

.littlefoot-footnote{
  transform:none!important;
  left:0!important;
}

.littlefoot-footnote__content{
  width:10vw;
}

.littlefoot-footnote__content p{
  /* paragraph style */
  font-family: Latitude;
  font-size: 16px;
  padding-left: 40%;
  line-height: 1.4;
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}




/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */
 
nav{
  
}

/* content */

main{
 
}

summary{
  
}

img{
  max-width: 100%;
  /* height: auto !important; */  
  display: block;
}
/* 
.grid-item{
  position: absolute;
  display: inline-block;
  z-index: 1;
} */


/* 
.random-pane {
  vertical-align: top;
  height: 100%;
  width: 100%;
} */

.random-pane-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.random-pane-grid .cell img {
  scale: 1;
  transition: scale .3s;
}
.random-pane-grid .cell:hover img {
  scale: 2.5;
  filter: drop-shadow(0 0 4px rgba(31, 83, 255));
  z-index: +1;
}

#myBtn {
  display: none;
  position: absolute;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(165, 255, 113, 0.972);
}

.btn-back-to-top {
  position: absolute;
  top: 0.75rem; right: 0.75rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  filter: blur(0px);
  background-color: rgba(165, 255, 113, 0.972);
  box-shadow: 0 0 15px rgb(108, 108, 108);
  border: 2px solid;
  border-color:rgb(255, 255, 255);
}

.window, .bibliography {
  position: relative;
}
.window {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1rem 1.5rem .5rem;
  box-shadow: 0 0 30px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	/* overflow-y: none; */
}

.window p { padding-left: 0 }

.window-2 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-2 p { padding-left: 0 }

.window-3 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-3 p { padding-left: 0 }

.window-4 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-4 p { padding-left: 0 }

.window-5 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-5 p { padding-left: 0 }

.window-6 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-6 p { padding-left: 0 }

.window-7 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-7 p { padding-left: 0 }

.window-8 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-8 p { padding-left: 0 }

.window-9 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-9 p { padding-left: 0 }

.window-10 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-10 p { padding-left: 0 }


.bibliography {
width: max(400px, 30%);
max-width: 100%;
height: 800px;
padding: 1rem;
box-shadow: 0 0 20px rgb(255, 255, 255);
border: 2px solid rgb(31, 83, 255);
border-radius: 3px;
display: block;
margin-left: auto;
margin-right: auto;
overflow-y: auto;
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
}

.bibliography p {
  padding-left: 0;
}

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.littlefoot-footnote__button{
font-size: medium;
}




/* MEDIA QUERIES */

/* responsive typeface */

/* @media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
} */


/* website media queries */

@media (max-width: 600px) {
  html, body { overflow-x: hidden }
  body {
    bottom: 0;
    margin: 0;
    cursor: none;
    width: 100% !important;
  }

  .window, .bibliography {
    width: 100%;
    height: auto;
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding: 1rem;
    box-sizing: border-box;

  }
  
  .random-pane-grid{
    display: table-header-group;
    grid-template-columns: 1fr;
    scale: 1;
    filter: drop-shadow(0 0 5px rgba(31, 83, 255));
    margin-top: 0px !important;
    margin-left: 0px !important;
  }

  img{
    max-width: 100% !important;
    height: auto !important;  
    display: block;
  }

  h1{
    /* h1 style */
   white-space: nowrap;
   font-size: 30px !important;
  }

  main h2, main h3 {
    padding-left: 0%;
    font-size: 50px !important;
  }

  main p {
    padding-left: 2%;
    font-size: 13px !important;
    width: 86vw;
  }

  .group h4{
    /* h4-h5-h6 style */
    position: sticky;
    font-size: 12px !important;
  }
  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */
  .progress-bar {
    width: 3px;
    background:rgba(165, 255, 113, 0.972);
    border-radius: 3px;
  }

  .progress-container {
    left: 5px;
    width: 3px;  
  }

  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}


