@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: FT88-Italic;
    src: url('../fonts/Degheest/FT88/FT88-Italic.woff'),
         url('../fonts/Degheest/FT88/FT88-Italic.woff2'),
         url('../fonts/Degheest/FT88/FT88-Italic.otf'),
         url('../fonts/yourfontname/yourfontname-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: Latitude;
  src: url('../fonts/Degheest/Latitude/Latitude-Regular.otf'),
       url('../fonts/Degheest/Latitude/Latitude-Regular.woff'),
       url('../fonts/Degheest/Latitude/Latitude-Regular.woff2') format('embedded-opentype'),
       url('../fonts/yourfontname/yourfontname-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Basteleur;
  src: url('../fonts/Basteleur/Basteleur-Moonlight.ttf'),
       url('../fonts/Basteleur/Basteleur-Moonlight.woff') format('embedded-opentype'),
       url('../fonts/Basteleur/Basteleur-Moonlight.woff2') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Azeret;
  src: url('../fonts/Azeret/AzeretMono-Regular.ttf'),
       url('../fonts/Azeret/AzeretMono-Regular.woff') format('embedded-opentype'),
       url('../fonts/Azeret/AzeretMono-Regular.woff2') format('truetype');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: Azeret_Italic;
  src: url('../fonts/Azeret/AzeretMono-Italic.ttf'),
       url('../fonts/Azeret/AzeretMono-Italic.woff') format('embedded-opentype'),
       url('../fonts/Azeret/AzeretMono-Italic.woff2') format('truetype');
  font-weight: normal;
  font-display: block;
}

/* VARIABLES */

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam/BeVietnamPro-Variable.ttf'),
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam/BeVietnamPro-VariableItalic.ttf'),
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Variable.ttf'),
}

@font-face {
  font-family: RedHat_Italic;
  src: url('../fonts/RedHat/Variable/RedHatDisplay-VariableItalic.ttf'),
}

@font-face {
font-family: RedHat_REG;
src: url('../fonts/RedHat/Variable/RedHatDisplay-Variable.ttf'),
}

:root {
  /* Color settings */
    background-image: linear-gradient(180deg, rgba(255,0,0,0), rgb(219, 219, 219), rgb(209, 209, 209), rgb(185, 185, 185), rgb(179, 179, 179), rgb(150, 155, 175), rgb(152, 180, 233), rgb(166, 182, 255), rgb(140, 161, 255), rgb(98, 95, 255), rgb(67, 111, 255), rgb(31, 83, 255) );
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font settings */
  --font-family: 'FT88', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margins settings */
  --margin: 1rem;
}



/* GENERAL STYLES */


html, body {
  scroll-behavior: smooth;
  
}
html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  cursor: none;
  scrollbar-width: none;
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y: scroll;
  bottom: 120px;
  margin-top: 100px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: none;
}

#circularcursor {
  background-color: transparent;
  border:1px solid black;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 99;
}

#scroll {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255,0,0,0), rgba(165, 255, 113, 0.895) );
  width: 10px;
  transition: width 0.1s ease;
  margin-left: -30px;
  filter: blur(15px);
}

::-webkit-scrollbar {
  display: none;
}


hr { 
  opacity: 0; 
}
a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

h1{
  /* h1 style */
 font-family: Basteleur;
 font-size: 130px;
 font-style: italic;
 line-height: 0.6;
 white-space: nowrap;
 font-size: calc(7.5vw);
}

h2{ 
  /* h2 style */
  font-family: Basteleur;
  font-size: 35px;
  padding-left: 40%;
  padding-top: 10%;
  color:rgb(31, 83, 255);
}

.collapsible {
  background-color: rgba(85, 85, 85, 0);
  color: rgba(85, 85, 85, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgba(85, 85, 85, 0);
}

.content {
  padding: 0;
  background-color:rgba(85, 85, 85, 0);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
} 

h3{
  /* h3 style */
  font-family: Basteleur;
  font-size: 35px;
  padding-left: 40%;
  color:rgb(31, 83, 255);
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */
  font-family: Latitude;
  font-size: 25px;
  padding-left: 40%;
  line-height: 1.4;
}


main p{
  font-family: SpaceGrotesk !important;
  font-size: 20px !important;
  width: 40vw;
  line-height: 1.7;
}

.littlefoot-footnote{
  transform:none!important;
  left:0!important;
}

.littlefoot-footnote__content{
  width:10vw;
}

.littlefoot-footnote__content p{
  /* paragraph style */
  font-family: Latitude;
  font-size: 16px;
  padding-left: 40%;
  line-height: 1.4;
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}




/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */
 
nav{
  
}

/* content */

main{
 
}

summary{
  
}

img{
  display: block;
}

#myBtn {
  display: none;
  position: absolute;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgb(31, 83, 255);
}

.window {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 30px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: none;
}

.window p { padding-left: 0 }

.window-2 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-2 p { padding-left: 0 }

.window-3 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-3 p { padding-left: 0 }

.window-4 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-4 p { padding-left: 0 }

.window-5 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-5 p { padding-left: 0 }

.window-6 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-6 p { padding-left: 0 }

.window-7 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-7 p { padding-left: 0 }

.window-8 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-8 p { padding-left: 0 }

.window-9 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-9 p { padding-left: 0 }

.window-10 {
  width: max(450px, 20%);
  max-width: 100%;
  height: 650px;
  padding: 1.5rem;
  box-shadow: 0 0 20px rgb(31, 83, 255);
  border: 2px solid rgb(31, 83, 255);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  display: inline-block;
  overflow-y: auto;
}

.window-10 p { padding-left: 0 }


.bibliography {
width: max(400px, 30%);
max-width: 100%;
height: 800px;
padding: 1rem;
box-shadow: 0 0 20px rgb(255, 255, 255);
border: 2px solid rgb(31, 83, 255);
border-radius: 3px;
display: block;
margin-left: auto;
margin-right: auto;
overflow-y: auto;
}

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.littlefoot-footnote__button{
font-size: medium;
}




/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}


/* website media queries */

@media (max-width: 1200px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */


  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}



@media (max-width: 339px) {

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


